// Styling for the masthead

#masthead{
    width: 100%;
    display: block;
    height: 100px;
    margin-top: 60px;
    h1{
        font-weight: 800;
    }
}

.device-container {
    max-width: 325px;
    margin-right: auto;
    margin-left: auto;

    .screen img {
        border-radius: 3px;
    }
}
